@import url(/Shop/css/styleone.css);


:root {
 
  
  --cursor-main: url(/Shop/assets/cursors/utdrheart.png), auto;
  --cursor-pointer: url(/Shop/assets/cursors/utdrheartyellow.png), auto;
 --cursor-move: url(https://ne0nbandit.art/assets/cursors/utdrheartmove.png), auto;
  --cursor-zoom: url(https://ne0nbandit.art/assets/cursors/utdrheartzoom.png), auto;
  


  /* Deltarune Border CSS */
  --border-img: url(/Shop/assets/DeltaruneBorder.gif) 52 stretch;
  --border-size: 26px solid transparent;
  --border-shadow: drop-shadow(4px 4px 0px #00000059);
  --border-slice: 27.3% fill;
}

/* ===== Scrollbar CSS ===== */
* { scrollbar-width: thin; scrollbar-color: var(--accent-purple) #000000;}
*::-webkit-scrollbar { width: 15px;}
*::-webkit-scrollbar-track { background: black; border: 1px solid var(--accent-purple); border-radius: 0px;}
*::-webkit-scrollbar-thumb { background: black; border: 1px solid var(--accent-purple); border-radius: 0px;}
::selection { color: white; background: var(--shadow-color); }

/* === GENERAL === */
body { background-image: none; background-color: black; background-attachment: fixed !important; background-size: cover !important; }
h1 { text-shadow: var(--title-shadow); color: white; margin: 20px 0px; text-align: center; }
h2 { font-family: 'DotumChe'; text-shadow: var(--title-shadow); color: var(--accent-lavender); font-size: 24px; }  
h3 { text-shadow: var(--title-shadow); margin: 15px 0px; color: var(--accent-lavender); font-size: 27px; font-family: var(--deltarune-font); }  
b { color: var(--text-color); text-shadow: 2px 2px var(--shadow-color);}  
a { color: var(--mike-pink); font-family: inherit; font-size: inherit; }
a:visited { color: var(--mike-pink2); }
a:hover   { color: var(--mike-yellow); }  
p { font-size: 20px; line-height: 25px; }
hr { border: 1px dashed var(--accent-purple); }

/* LAYOUT */
.cablenav { margin: 10px 0px; padding: 15px 0px; box-shadow: 0px 3px white, 0px -3px white; display: flex; flex-wrap: wrap; justify-content: center; }
.cablenav a { color: white; padding: 0 5px; }
.cablenav b { font-size: 22px; }

.topnav a:hover .heartnav { opacity: 1;}
.cablenav a:hover .heartnav { opacity: 1; }  
.heart { color: red; display: none; text-shadow: none; }
.heartnav { opacity: 0; color: red; text-shadow: none; }
footer { font-family: 'DTMsans'; background: black; box-shadow: none; margin: 10px auto 0;}
footer p { font-size: 14px; padding: 0 5px; color: #474754; text-align: center; text-shadow: none; }

.sidebar-content { border: var(--border-size); border-image: var(--border-img); border-image-slice: var(--border-slice); box-shadow: none; background: none; padding: 0 15px; filter: var(--border-shadow); text-shadow: 1px 1px var(--palette-color3); }
.solo-sidebar { width: 65%; }
.innerbox { box-shadow: none; background: none; padding: 0; }

.textbox { width: 100%; max-width: 1100px; margin: 0 auto; padding: 0 20px; border: var(--border-size); border-image: var(--border-img); border-image-slice: var(--border-slice); filter: var(--border-shadow); }

/* BUTTONS AND NAV */
button { border: 2px solid white; box-shadow: none; border-radius: 0; text-shadow: var(--text-effect); transition: 0s; }
button:hover { background: none; box-shadow: none; border: 2px solid; letter-spacing: 0; }
button:hover .heart { display: table-cell; }

.buttongroup { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap: 5px 10px; }
.buttongroup button { border: none; position: relative; width: 170px; }
.buttongroup b { letter-spacing: 1px; font-size: 18px; }


.close-image img { height: 140px; width: 150px; object-fit: cover; border-radius: 35px; transition: transform .5s; filter: drop-shadow(0px 0px 7px #4d558b); image-rendering: pixelated; margin-bottom: 5px; }
.close-image:hover .overlay { opacity: 0.2; }
  
.collapsible { background: none; text-shadow: none; }
.collapsible:hover { background: none; border: 2px solid var(--mike-yellow); color: var(--mike-yellow) !important; }
.content { box-shadow: none; background: var(--mike-accent); border-radius: 0; }

/* TITLES */ 
.faqtitle { margin: 30px 0; color: var(--light-text); text-shadow: var(--title-shadow); }
    
/* Dialogue Boxes */
.dialoguebox { display: flex; gap: 10px; text-align: left; max-width: 640px; min-height: 144px; margin: auto; font-family: var(--secondary-font); border: var(--border-size); border-image: var(--border-img); image-rendering: pixelated; border-image-slice: var(--border-slice); }
.dialoguebox p { font-size: 30px; letter-spacing: 2px; line-height: 34px; text-shadow: var(--title-shadow); margin: 0; }

.piss { filter: drop-shadow(1px 1px 0px #4C4C00); background: -webkit-linear-gradient(#FFFFA8 25%, #FFFF0E); -webkit-text-fill-color: transparent; background-clip: text; -webkit-background-clip: text; text-shadow: none; padding: 5px 0; }

#meinfo { left: 0%; right: -610px; z-index: 1;}
#mikeinfo { right: 310px; top: 21%; left: 0%; z-index: 1;}

}
