@import url(https://ne0nbandit.art/style.css);

/* === Palettes === */
:root {
  --bg-color: black;
  --text-effect: 1px 1px var(--shadow-color);
  --title-shadow: 3px 3px var(--shadow-color);
  --shadow-color: #282864;
  --accent-purple: #4d558b;
  --accent-lavender: #e5e1f3;
  --text-color: white;

  --mike-pink: #ffb1cb;
  --mike-pink2: #E67CB2;
  --mike-yellow: #FFF203;
  --mike-fuchsia: #8a336d;
  --mike-grey: #8c879f;    
  --mike-accent: #dfc0ff59;
  --cord-green: #018001;
  --host-blue: #1a1d54;

  --tenna-blue: #2C3690;
  --tenna-silver: #8B98DB;

  --klieg-yellow: #FFEECC;
  --klieg-brown: #7D5935;
  --klieg-red: #94213D;

  --mittens-cream: #D4A855;
  --mittens-brown: #A06C2E;
  --mittens-pink: #873535;

  --rayne-shadow: #2C3690;
  --rayne-blue: #6994FF;
  --rayne-grey: #97A7C4;
  --rayne-yellow: #FFFDD1;
  --rayne-red: #E33B39;

  --rk-blue: #0f0062;
  --rk-blue2: #0f006280;
  --rk-blue3: #2874ff;

  --spamton-blue: #74c6ed;
  --spamton-blue2: #4eacda;
  --spamton-blue3: #274f89;

  --swatch-pink: #b43050;
  --swatch-pink2: #8c2c4e;
  --swatch-cream: #fed8bb;

  --castle-teal: #056c8f;
  --castle-teal2: #012334;

  --bg-stage: url(https://ne0nbandit.github.io/assets/img/cable/BGcablestage.gif) no-repeat;  
  --bg-castletown: url(https://ne0nbandit.github.io/assets/img/utdr/BGCastleTown.png) no-repeat;
  --bg-spamton: url(https://ne0nbandit.github.io/assets/img/utdr/BGSpamton.png) no-repeat;
  --bg-cafe: url(https://ne0nbandit.github.io/assets/img/utdr/BGSwatch.png) no-repeat;
  --bg-rain: url(https://ne0nbandit.github.io/assets/img/cable/FirstStageDull.gif) no-repeat;
  --cursor-main: url(https://ne0nbandit.art/assets/cursors/utdrheart.png), auto;
  --cursor-pointer: url(https://ne0nbandit.art/assets/cursors/utdrheartyellow.png), auto;
  --cursor-move: url(https://ne0nbandit.art/assets/cursors/utdrheartmove.png), auto;
  --cursor-zoom: url(https://ne0nbandit.art/assets/cursors/utdrheartzoom.png), auto;
  
  --arrowL-img: url(https://ne0nbandit.github.io/assets/img/utdr/ui/heartL.png);
  --arrowR-img: url(https://ne0nbandit.github.io/assets/img/utdr/ui/heartR.png);

  --static-overlay: url(https://ne0nbandit.github.io/assets/img/cable/static.gif);

  /* Deltarune Border CSS */
  --border-img: url(https://ne0nbandit.github.io/assets/img/cable/DeltaruneBorder.gif) 52 stretch;
  --border-size: 26px solid transparent;
  --border-shadow: drop-shadow(4px 4px 0px #00000059);
  --border-slice: 27.3% fill;
}

/* ===== Scrollbar CSS ===== */
* { scrollbar-width: thin; scrollbar-color: var(--accent-purple) #000000;}
*::-webkit-scrollbar { width: 15px;}
*::-webkit-scrollbar-track { background: black; border: 1px solid var(--accent-purple); border-radius: 0px;}
*::-webkit-scrollbar-thumb { background: black; border: 1px solid var(--accent-purple); border-radius: 0px;}
::selection { color: white; background: var(--shadow-color); }

/* === GENERAL === */
body { background-image: none; background-color: black; background-attachment: fixed !important; background-size: cover !important; }
h1 { text-shadow: var(--title-shadow); color: white; margin: 20px 0px; text-align: center; }
h2 { font-family: 'DotumChe'; text-shadow: var(--title-shadow); color: var(--accent-lavender); font-size: 24px; }  
h3 { text-shadow: var(--title-shadow); margin: 15px 0px; color: var(--accent-lavender); font-size: 27px; font-family: var(--deltarune-font); }  
b { color: var(--text-color); text-shadow: 2px 2px var(--shadow-color);}  
a { color: var(--mike-pink); font-family: inherit; font-size: inherit; }
a:visited { color: var(--mike-pink2); }
a:hover   { color: var(--mike-yellow); }  
p { font-size: 20px; line-height: 25px; }
hr { border: 1px dashed var(--accent-purple); }

/* LAYOUT */
.cablenav { margin: 10px 0px; padding: 15px 0px; box-shadow: 0px 3px white, 0px -3px white; display: flex; flex-wrap: wrap; justify-content: center; }
.cablenav a { color: white; padding: 0 5px; }
.cablenav b { font-size: 22px; }

.topnav a:hover .heartnav { opacity: 1;}
.cablenav a:hover .heartnav { opacity: 1; }  
.heart { color: red; display: none; text-shadow: none; }
.heartnav { opacity: 0; color: red; text-shadow: none; }
footer { font-family: 'DTM-sans'; background: black; box-shadow: none; margin: 10px auto 0;}
footer p { font-size: 14px; padding: 0 5px; color: #474754; text-align: center; text-shadow: none; }

.sidebar-content { border: var(--border-size); border-image: var(--border-img); border-image-slice: var(--border-slice); box-shadow: none; background: none; padding: 0 15px; filter: var(--border-shadow); text-shadow: 1px 1px var(--palette-color3); }
.solo-sidebar { width: 65%; }
.innerbox { box-shadow: none; background: none; padding: 0; }

.textbox { width: 100%; max-width: 1100px; margin: 0 auto; padding: 0 20px; border: var(--border-size); border-image: var(--border-img); border-image-slice: var(--border-slice); filter: var(--border-shadow); }

/* BUTTONS AND NAV */
button { border: 2px solid white; box-shadow: none; border-radius: 0; text-shadow: var(--text-effect); transition: 0s; }
button:hover { background: none; box-shadow: none; border: 2px solid var(--mike-yellow); color: var(--mike-yellow); letter-spacing: 0; }
button:hover .heart { display: table-cell; }

.buttongroup { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap: 5px 10px; }
.buttongroup button { border: none; position: relative; width: 170px; }
.buttongroup b { letter-spacing: 1px; font-size: 18px; }

.overlay { position: absolute; top: 5px; opacity: 0.5; transition: .3s ease; }
.overlay img { content: var(--static-overlay); }

.close-image img { height: 140px; width: 150px; object-fit: cover; border-radius: 35px; transition: transform .5s; filter: drop-shadow(0px 0px 7px #4d558b); image-rendering: pixelated; margin-bottom: 5px; }
.close-image:hover .overlay { opacity: 0.2; }
  
.collapsible { background: none; text-shadow: none; }
.collapsible:hover { background: none; border: 2px solid var(--mike-yellow); color: var(--mike-yellow) !important; }
.content { box-shadow: none; background: var(--mike-accent); border-radius: 0; }

/* TITLES */ 
.faqtitle { margin: 30px 0; color: var(--light-text); text-shadow: var(--title-shadow); }
    
/* Dialogue Boxes */
.dialoguebox { display: flex; gap: 10px; text-align: left; max-width: 640px; min-height: 144px; margin: auto; font-family: var(--secondary-font); border: var(--border-size); border-image: var(--border-img); image-rendering: pixelated; border-image-slice: var(--border-slice); }
.dialoguebox p { font-size: 30px; letter-spacing: 2px; line-height: 34px; text-shadow: var(--title-shadow); margin: 0; }

.piss { filter: drop-shadow(1px 1px 0px #4C4C00); background: -webkit-linear-gradient(#FFFFA8 25%, #FFFF0E); -webkit-text-fill-color: transparent; background-clip: text; -webkit-background-clip: text; text-shadow: none; padding: 5px 0; }

/* Wiki Pages */  
.CharacterProfile .sidebar-content { border: var(--border-size); border-image: var(--border-img); border-image-slice: var(--border-slice); box-shadow: none; background: none; padding: 0 15px; filter: var(--border-shadow); text-shadow: 1px 1px var(--palette-color3); }
.CharacterProfile .solo-sidebar { width: 65%; }
.CharacterProfile .innerbox { box-shadow: none; background: none; padding: 0; }
.CharacterProfile footer p { text-shadow: none; }

.CharacterProfile h3 { color: white; font-family: var(--deltarune-font); margin: 0 0 15px; font-size: 30px; background: linear-gradient(0deg, var(--palette-color1) 50%, transparent 50%); text-shadow: 2px 2px var(--palette-color3); }
.CharacterProfile a { color: var(--palette-color4); font-family: var(--secondary-font); text-shadow: 1px 1px var(--palette-color1); }
.CharacterProfile a:visited { color: var(--palette-color4); }
.CharacterProfile a:hover { color: var(--palette-color3); }
.CharacterProfile b { text-shadow: 1px 1px var(--palette-color3); }
.CharacterProfile .CharActNav button { text-shadow: 1px 1px #8d0d0d; }

.divider { width: 100%; content: var(--divider-img); display: flex; justify-content: center; margin: auto; }
#Render { content: var(--render-img); float: left; width: 100%; max-width: 300px; filter: drop-shadow(9px 4px 0px var(--palette-color1)); }
#Ref { width: 100%; box-shadow: 1px 1px var(--palette-color1), -1px -1px var(--palette-color4); border-radius: 15px; }
#Info p { text-align: right; }

.infobox { border: 1px solid var(--palette-color1); background: var(--bg-color); height: auto; border-radius: 0; padding: 0; }
.infobox img { image-rendering: pixelated; }
.infoboxtitle h1 { margin: 0 auto; font-size: 20px; padding: 15px; background: var(--palette-color2); text-shadow: 2px 2px var(--palette-color3); }
.infoboxsubtitle { padding: 5px; background: var(--palette-color2); }
.infoboxsubtitle h1 { margin: 0; font-size: 18px; text-shadow: 2px 2px var(--palette-color3); }

.infobox section { padding: 0 10px; border-bottom: 1px solid var(--palette-color2); display: flex; flex-direction: row; grid-column-gap: 10px; align-items: center; }
.infobox section h3 { margin: 0; padding: 5px 0; font-size: 16px; flex-basis: 120px; background: none; }
.infobox section span { flex-basis: 340px; text-align: left; font-size: 18px; margin: 5px 0; }

.infobox section span, .infobox li, .infobox p, .infobox { color: var(--infobox-text); }

.infobox li::marker { color: white; }
.infobox li { margin: 3px 0; font-size: 18px; text-align: left; padding: 0 5px; }

.CableRelationships > div { display: flex; align-items: center; gap: 15px; margin: 10px 0; }
.CableRelationships img { image-rendering: pixelated; filter: drop-shadow(9px 4px 0px var(--palette-color1)); }
.CableRelationships > div > div:first-child { width: 100%; max-width: 280px; }
.CableRelationships > div > div:last-child { width: 100%; }
.CableRelationships h3 { text-align: left; font-family: 'DTM-sans'; font-size: 25px; margin: auto; }
.CableRelationships h3 > span { font-family: 'PixelOperator'; }
.CableRelationships p { text-align: left; }

.voicebeep { filter: invert(1) contrast(1.5); height: 20px; width: 100%; }

.quotebox { margin: 15px; overflow: auto; }
.quotelist { border: 1px solid var(--mike-accent); max-height: 550px; overflow: auto; padding: 15px 0; border-radius: 15px; margin: 10px 0; }
.quotelist h2 { font-family: 'DTM-sans'; font-size: 24px; text-align: left; margin: 5px 25px; }
.quotelist ul { margin: 0 0 20px; font-family: 'DTM-sans'; text-shadow: 2px 2px #282864; }
.quotelist li { line-height: 1.5; letter-spacing: 0.8px; font-size: 17px; }

ul { text-align: left; }

.trivia { margin: 0; }
.trivia li { margin: 0; padding: 5px; font-size: 18px; text-align: left; }
.trivia a { color: var(--palette-color3); text-shadow: var(--text-effect); font-family: 'DTM-sans'; }

.CableImgFrame { width: 100%; box-shadow: 1px 1px var(--palette-color2), -1px -1px var(--palette-color3); border-radius: 15px; }

#WikiNav { margin: 10px auto; max-width: 850px; }
#WikiNav > div { display: flex; justify-content: flex-start; align-items: center; border: 1px solid var(--palette-color3); padding: 10px 0; gap: 10px; }
#WikiNav > div > div { width: 100%; padding: 0 10px; }
#WikiNav h3 { font-size: 18px; margin: auto; width: 100%; max-width: 190px; font-family: var(--secondary-font); letter-spacing: 1px; }
#WikiNav h2 { background: var(--palette-color2); margin: 0; padding: 10px; font-family: var(--secondary-font); letter-spacing: 1px; border: 1px solid var(--palette-color3); border-bottom: none; }

.imgtab li { text-align: center; color: white; margin: 0; }
.backstory { padding: 0 30px; text-align: left; display: flex; flex-direction: column; align-items: center; }
.backstory p { width: 100%; }
.backstory h2 { font-family: 'DTM-Sans'; font-size: 24px; margin: 0; }
.backstory img { width: 100%; max-width: 750px; border-radius: 20px; display: flex; margin: auto; }
.backstory iframe { width: 100%; height: 350px; max-width: 550px; }

.voiceclaim { display: flex; justify-content: center; align-items: flex-end; flex-wrap: wrap; margin: 5px 0; }
.voiceclaim video { border-radius: 20px; max-width: 300px; width: 100%; }
.voiceclaim p { padding: 0; margin: 0; font-size: 14px; }

.characterquote {
  /*padding: 5px 10px;*/
  /*background: black;*/
  /*border: 3px solid white;*/
  max-width: 525px;
  line-height: 20px;
  border: var(--border-size);
  border-image: var(--border-img);
  border-image-slice: var(--border-slice);
  image-rendering: pixelated;
}
    
.characterquote p { font-size: 18px; font-family: 'DTM-sans'; letter-spacing: 0.5px; margin: 0;}    
.quoteby { font-style: italic; padding: 3px 10px; max-width: 250px;}
    

.ausection { display: flex; justify-content: center; align-items: center; text-align: left; gap: 5px; margin: 15px auto; max-width: 800px; }
.ausection h3 { text-align: center; }
.aunames { font-family: var(--secondary-font); text-shadow: none; letter-spacing: 1px; }
.audesc { max-height: 550px; overflow: auto; } 

.ProfileCategory {
  padding: 5px;
  overflow: hidden;
  font-size: 27px;
  background: linear-gradient(0deg, #33194d 50%, transparent 0%);
  border-radius: 5px;
  color: white;
  border-bottom: 2px solid rebeccapurple;
  margin: 15px 0px;
  text-align: center;
}
    
.Subcategory { margin: 10px 0px;}
.Subcategory b { font-size: 22px; color: #aaadc1;}
.relationshipsprite { float: left; margin: 0px 10px 10px 0px; image-rendering: pixelated;}
.imgtab { margin: 0px; padding: 0; display: flex; justify-content: space-evenly; align-items: center;}  
.imgtab li::marker { content: none;}
.imgtab li { padding: 5px 0px; font-size: 14px; font-family: 'DTM-sans'; width: 100%; border-bottom: 2px solid #66339900; text-align: center; }

.imgtab li:hover {
  cursor: var(--cursor-pointer);
  border-bottom: 2px solid var(--palette-color2);
  transition: 0.5s;
  background: #66339950;
}
  
.infobox .icon { image-rendering: pixelated; margin: 5px;}  
.check { font-style: italic; padding: 10px; color: var(--accent-lavender); text-shadow: none; max-width: 400px; margin: auto; }

.flavourtext { border: 5px solid white; margin: auto; text-align: left; width: 100%; max-width: 400px; }
.flavourtext > div { padding: 5px 10px; border: 1px solid gray; margin-top: -1px; }
.flavourtext p { font-family: var(--secondary-font); text-shadow: none; letter-spacing: 0.5px; font-size: 16px; margin: 0; }

/* AUTOPLAYER */

.autoplayer button { background: black; box-shadow: none; outline: 3px solid white; text-shadow: none; border: none; color: white; }

.autoplayer a {
  background: var(--bg-color);
  padding: 5px 7px;
  border-radius: 0;
  box-shadow: none;
  color: white !important;
  bottom: 7px;
  outline: 3px solid white;
}
.autoplayer a:visited { color: white; }

/* CHARACTER PROFILES */

.BattleScreen {
  background-image: url(https://ne0nbandit.github.io/assets/img/cable/UTDR_BG.gif);
  background-repeat: initial;
  background-size: auto;
  padding: 15px 0;
}

.CharActNav { margin: auto; text-align: center; }

.CharActNav button {
  outline: 4px solid orange;
  color: orange;
  text-shadow: none;
  font-family: "Mercy";
  margin: 6px;
  background: black;
  width: 135px;
  white-space: nowrap;
  z-index: 1;
  border: none;
  font-size: 28px;
  padding: 0 0 3px;
}


.CharActNav button:hover {
  background: black;
  border: none;
  letter-spacing: inherit;
  color: yellow;
  outline: 4px solid yellow;
  transition: 0s;
}

.boxes {
  outline: white solid 3px;
  background: black;
  padding: 10px;
  max-width: 280px;
  font-family: DTM-sans;
  color: white;
  margin: auto;
  position: absolute;
  z-index: 1;
  }

.boxes p { font-size: 16px; line-height: 20px; letter-spacing: 1px; margin: 0;}

.CharSprite {
  padding: 15px 0;
  text-align: center;
  pointer-events: none;
  filter: drop-shadow(4px 0px 0px #66339920);
  image-rendering: pixelated;
}

.CharGroup { display: flex; align-items: flex-end; justify-content: center;}

.battledialogue /* Use with Dialoguebox */ { min-height: 160px; height: auto; z-index: 1;}
.battledialogue a { color: white;}
.battledialogue a:hover { color: yellow;}
.nextbtn {
  text-align: right;
  height: 0;
  opacity: 0;
  animation-delay: 1.7s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}
.nextbtn a { position: relative; bottom: 20px; left: 5px; font-size: 30px;}
a:hover .battleheart { opacity: 1;}
.battleheart { color: red; opacity: 0; text-shadow: none;}
.speechbubble { position: relative; display: initial;}

.speechbubble .speechbubbletext {
  font-family: 'DotumChe';
  min-width: 160px;
  background: white;
  color: black;
  text-align: left;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  font-size: 14px;
}

.speechbubble .speechbubbletext::after {
content: "";
position: absolute;
top: 100%;
left: 15%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: white transparent transparent white;
}

#hostinfo { left: 0%; right: -610px; z-index: 1;}
#mikeinfo { right: 310px; top: 21%; left: 0%; z-index: 1;}

@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

/* == HEALTH BAR == */
.healthbar td {vertical-align: middle;}
.hpmercy { text-align: center; font-style: italic;}
#charname p { text-wrap: nowrap; min-height: auto;}
#charstatus { padding: 0 35px; font-size: 20px;}
#hpmercybars { padding: 0 5px;}
#HPbar { background: #00FF0A; width: 120px; height: 32px; font-size: 26px; padding: 10px; font-family: 'DTM-sans';}
#Mercybar { background: #FE5126; width: 120px; height: 32px; font-size: 26px; padding: 10px; font-family: 'DTM-sans'; color: #7E0005;}

/* ==== NOTICES === */
.explicit {
  background: black;
  border: 3px solid white;
  width: 100%;
  max-width: 650px;
  margin: 10px auto;
  box-shadow: 2px 2px var(--shadow-color);
}

.explicit img { image-rendering: pixelated; }

.explicit h2 {
  font-family: 'DTM-sans';
  font-size: 26px;
  background: radial-gradient(black, transparent);
  border-bottom: 1px solid var(--mike-accent);
  padding: 5px 0 15px;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  text-shadow: var(--title-shadow);
}

.explicit p {
  margin: 0;
  padding: 15px;
  color: red;
  text-shadow: none;
  font-family: 'Mercy';
  font-size: 20px;
}

/* Fic Previews */
.fic-group { justify-content: center; gap: 0; margin: 0 0 20px; }
.fic-preview {
  border-radius: 0;
  border: var(--border-size);
  border-image: var(--border-img);
  border-image-slice: var(--border-slice);
  padding: 0;
  margin: -8px;
  max-width: 450px;
  background: none;
}

.fic-img img { box-shadow: none; }
.fic-title { filter: none; text-shadow: var(--text-effect); color: white; }
.fic-summary { text-shadow: var(--text-effect); background: linear-gradient(0deg, transparent, var(--shadow-color)6b); }
.fic-preview hr { width: 95%; border: 0; background: linear-gradient(90deg, transparent, #4d558b, transparent); height: 1px; }

.curtains { position: absolute; top: 0; max-width: 220px; pointer-events: none; z-index: 1;}

.MiniFrame { max-width: 560px; width: 100%; height: 100%; max-height: 315px; margin: auto; }
                .MiniFrame iframe { border-radius: 20px; width: 100%; min-height: 300px; margin: auto; }

/* LIGHTBOX NEW */
.lb-outerContainer { border-radius: 0; box-shadow: none; }
.lightbox .lb-image { border-radius: 0; box-shadow: none; }

.lb-data .lb-caption { text-shadow: var(--text-effect); }
.lb-data .lb-number { color: white; padding: 5px 0; }

.lb-dataContainer {
  padding: 0;
  border: var(--border-size);
  border-image: var(--border-img);
  border-image-slice: var(--border-slice);
  background: none;
  box-shadow: none;
  border-radius: 0;
}

.lb-closeContainer { filter: invert(1) saturate(0) contrast(3); }

.lb-nav a.lb-prev { background: url(https://ne0nbandit.github.io/assets/img/utdr/ui/heartL.png) left 48% no-repeat; filter: drop-shadow(2px 2px 0px #28286450); }
.lb-nav a.lb-next { background: url(https://ne0nbandit.github.io/assets/img/utdr/ui/heartR.png) right 48% no-repeat; filter: drop-shadow(2px 2px 0px #28286450); }

/* LIGHTBOX */
.LightboxGallery { display: flex; justify-content: space-around; flex-wrap: wrap;}
.LightboxGallery img { border-radius: 0px; box-shadow: none; background: none; padding: 5px; border: 1px solid #33194d; height: 150px;}  
.LightboxGallery img:hover { box-shadow: none;}
.LightBoxItem { text-align: center; padding: 5px; margin: 1px;}
.LightBoxSubtitle { text-align: center; font-size: 15px; line-height: 16px; color: #aaadc1;}
  
#outerImageContainer {
  position: relative;
  background-color: #000000cc;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  border: 1px solid;
  min-width: 210px;
}

#imageDataContainer {
  background-color: black;
  border-radius: 0px;
  border: 3px solid white;
  box-shadow: none;
}

#imageData #imageDetails { color: white;}
#imageData #numberDisplay { text-shadow: none; font-weight: 100; font-family: 'DTM-sans'; color: white;}  
#lightbox a img { filter: brightness(5);}  
  
#CharacterSelection, #RecruitSelect, #RecruitSelect div, #RecruitInfo, #RecruitContainer, #RecruitFlavor, #RecruitIntro, #LikeDislike, #RecruitLinks, #LikeDislike div, #RecruitLinks div, #RecruitStats { display: flex; }
#RecruitSelect, #RecruitInfo { border: var(--border-size); border-image: var(--border-img); image-rendering: pixelated; border-image-slice: var(--border-slice); }
#RecruitSelect, #RecruitInfo { max-width: 900px; filter: var(--border-shadow); }
#CharacterSelection { align-items: stretch; width: 100%; margin: auto; padding: 0; color: white; font-family: var(--secondary-font); justify-content: center; background: url(https://ne0nbandit.github.io/assets/img/cable/BGcablestage.gif) no-repeat; background-size: cover; padding: 15px 0; height: 100%; }
#RecruitSelect      { align-items: center; justify-content: space-between; flex-wrap: wrap; width: 50%; padding: 0; gap: 10px 0; }
#RecruitSelect div  { align-items: center; justify-content: center; background: #9250781c; border-radius: 150px; width: 160px; height: 210px; cursor: var(--cursor-pointer); }
#RecruitInfo        { align-items: flex-start; align-content: flex-start; flex-wrap: wrap; padding: 25px; width: 100%; height: 645px; }
#RecruitContainer   { align-items: flex-end; justify-content: center; min-width: 350px; height: 300px; border: 3px solid white; background: linear-gradient(180deg, black, #9b1e90 150%); padding-bottom: 10px; image-rendering: pixelated; }
#RecruitFlavor      { gap: 15px; color: white; font-family: var(--secondary-font); }
#RecruitName        { font-size: 45px; margin: 15px 0 0; }
#RecruitDesc        { font-family: 'Dotumche'; font-size: 18px; margin: 25px 0; line-height: 30px; width: 100%;  }
#RecruitIntro       { flex-direction: column; flex-wrap: wrap; overflow-wrap: anywhere; }
#LikeDislike, #RecruitLinks { gap: 15px; font-size: 45px; flex-direction: column; width: 50%; margin: 15px 0; }
#LikeDislike div  { width: 100%; }
#RecruitLinks div { width: 100%; justify-content: flex-end; }
#RecruitStats     { width: 100%; align-items: center; color: white; font-family: var(--secondary-font); }
#RecruitSelect img:hover { filter: drop-shadow(2px 2px 0px white) drop-shadow(-2px 0px 0px white) drop-shadow(0px -2px 0px white); }
#RecruitLinks a { transition: auto; }
#RecruitLinks a:hover .heartnav { opacity: 1; }
#RecruitElement { transform: scale(0.7, 1); margin-left: 60px; }
.RecruitGap { gap: 34px; }
#RecruitSelect h1 { font-size: 45px; text-align: center; margin: 20px auto; width: 100%; }

/* === Comment Box Customization === */
#HCB_comment_box h3 { display: block; }
#hcb_msg { margin: 0; }
#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name { background: black; box-shadow: 2px 2px var(--shadow-color); border: 2px solid white; border-radius: 0px; }
#HCB_comment_box #hcb_form #hcb_form_name { font-family: var(--secondary-font) !important; font-size: 18px !important; letter-spacing: 1px; color: white; text-shadow: var(--text-effect); }
#HCB_comment_box { font-family: var(--primary-font) !important; letter-spacing: 1px; }
#HCB_comment_box p.error { border: 4px solid rgb(255, 136, 229); background-color: #fee; color: rgb(136, 0, 95); }
#HCB_comment_box textarea, #HCB_comment_box input.text { font-family: var(--secondary-font) !important; color: white !important; font-size: 16px !important; letter-spacing: 0.5px; text-shadow: var(--text-effect); }
#HCB_comment_box .hcb-wrapper-half { text-align: left; }
#HCB_comment_box .hcb-wrapper { clear: both; margin-bottom: 0.5em; } /* Unsure what this does */
#HCB_comment_box input.text { display: block; width: 97%; }
#HCB_comment_box #hcb_form .home-desc { display: none; }
/* the submit button */
#HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn {
  font-family: 'mercy' !important;
  letter-spacing: 1px;
  border: 3px solid orange !important;
  background: transparent !important;
  background-color: transparent !important;
  color: orange !important;
  text-shadow: none !important;
  box-shadow: none !important;
  font-size: 22px !important;
  padding: 5px 16px !important;
  margin-right: 6px;
  font-weight: 100 !important;
  cursor: var(--cursor-pointer);
  border-radius: 0;
  transition: 0s;
  text-transform: lowercase;
  width: auto;
  height: auto;
}

.author b { color: white; font-size: 22px; text-shadow: var(--title-shadow); }
#HCB_comment_box .hcb-comment-tb button:hover{ filter: brightness(1.5); }
#HCB_comment_box input.submit:hover{ filter: brightness(1.5); }
.btn-secondary:hover { filter: brightness(1.5); }
.admin-link { filter: brightness(2.0) saturate(0); }
#HCB_comment_box #comments_list { border-radius: 0; background: transparent; padding: 0 !important; margin-bottom: 5px; }
#HCB_comment_box div.comment { border-radius: 0; padding: 0; margin: 5px auto !important; width: 100%; max-width: none; border: var(--border-size); border-image: var(--border-img); border-image-slice: var(--border-slice); box-shadow: none; background: none; }
#HCB_comment_box blockquote { margin: 5px !important; text-align: left; }
#HCB_comment_box #HCB_comment_form_box { padding-bottom: 0; }
.del { float: right; margin: 30px 5px; }
#HCB_comment_box .date { font-size: 16px !important; color: #4d558b !important; text-shadow: none; }
#HCB_comment_box .hcb-comment-body { font-size: 16px !important; margin: 5px 0 0 0 !important; text-shadow: var(--text-effect); font-family: 'DTM-sans'; letter-spacing: 2px; }
.hcb-mod b { font-family: 'Deltarune'; font-size: 26px !important; text-shadow: 2px -1px fuchsia, -2px 1px cyan!important; }
.hcb-link { color:var(--link-color); }
#HCB_comment_box .hcb-comment-tb button {
    cursor: var(--cursor-pointer) !important;
    height: auto;
    font-family: 'mercy' !important;
    letter-spacing: 1px;
    border: 3px solid orange !important;
    background: transparent !important;
    background-color: transparent !important;
    color: orange !important;
    text-shadow: none !important;
    box-shadow: none !important;
    font-size: 22px !important;
    padding: 0 16px 2px !important;
    margin-right: 6px;
    font-weight: 100 !important;
    border-radius: 0;
    transition: 0s;
    text-transform: lowercase;
    width: auto;
    margin: 5px 5px 0 0;
}
#HCB_comment_box .hcb-comment-tb { padding: 5px 5px 10px !important; display: flex; }
#HCB_comment_box .comment .likes { top: 0 !important; right: 0 !important; display: flex !important; gap: 5px; align-items: center; }
#HCB_comment_box .comment { margin: 1em 0 !important; }
#HCB_comment_box .comment a img { border-radius: 0; filter: none; margin: 10px 0 0 !important; max-width: 350px; width: 100%; max-height: 200px; object-fit: contain; background: transparent; }

/* === Emoji Tray === */
#hcb_emoji_picker_sm {
  font-family: 'mercy';
  border: 3px solid orange;
  background: transparent;
  background-color: transparent;
  color: orange;
  text-shadow: none;
  box-shadow: none;
  padding: 3px 16px;
  border-radius: 0;
  text-transform: lowercase;
  transition: 0s;
}

#hcb_emoji_picker_sm:hover { border: 3px solid yellow; color: yellow; }
#hcb_emoji_container { border: 3px solid white; border-radius: 0; background: black; margin-top: 5px; }
button#hcb_emoji_picker_btn { border: 0; border-radius: 5px; }

/* == GLightbox == */
.glbox img { border-radius: 0; box-shadow: none; background: none; border: 1px solid #33194d; }
.glbox a::before { background: none; }
.glightbox-clean .gslide-description { border: var(--border-size); border-image: var(--border-img); border-image-slice: var(--border-slice); background: none; }
.glightbox-clean .gdesc-inner { padding: 10px; color: white; }
.glightbox-clean .gslide-title { color: white; }
p.gldate { color: var(--accent-purple); }

.gcontainer button:hover { border: none; }
.glightbox-mobile .glightbox-container .gslide-description { padding: 0; bottom: 26px; }
.glchr p:first-child, .gldes p:first-child, .gltls p:first-child, .glart p:first-child { background: linear-gradient(0deg, var(--palette-color1) 50%, transparent 50%); color: white; text-shadow: 2px 2px var(--palette-color3); font-family: 'Mercy'; }
.glsrs p, .glsrs span { font-size: 16px; }

.glightbox-clean .gprev { width: 36px; height: 36px; left: 15px; }
.glightbox-clean .gnext { width: 36px; height: 36px; right: 15px; }
.glightbox-clean .gclose { background: none; margin: 0; padding: 3px; display: flex; right: 15px; top: 15px; width: auto; height: auto; }
.gclose span:before { content: "X"; color: white; font-size: 50px; font-family: 'DTM-sans'; }

@media only screen and (max-width: 1115px) {
.CharacterProfile .solo-sidebar { width: 80%; min-width: 665px; }

.fic-preview { width: 100%; max-width: none; }
#CharacterSelection { display: flex; flex-direction: column; align-items: center; height: auto;}
#RecruitSelect { width: 100%; margin-bottom: -16px; }
#RecruitSelect div { transform: scale(0.5); width: 65px; height: 85px; }
#RecruitSelect h1 { margin: 0; font-size: 24px; }

.textbox { width: 95%; padding: 1px 10px;}
h1 { line-height: 35px; font-size: 2em; }
.infoboxtitle h1 { line-height: 15px;}
.infoboxsubtitle h1 { line-height: 15px;}  
.technicalissues { margin: 0 15px; min-width: auto;}
.dialoguebox tr { display: block;}
.dialoguebox td { width: auto;}

#Render { float: none; }
#Info p { text-align: center; }
}

@media only screen and (max-width: 700px) {
.CharacterProfile .solo-sidebar { width: 100%; min-width: auto; margin-top: 10px; }
.solo-sidebar {width: 100%; }

.CableRelationships > div { flex-direction: column; }

#RecruitInfo { padding: 0; height: 670px; }
#RecruitFlavor { flex-direction: column; width: 100%; }
#RecruitDesc { font-size: 15px; line-height: 24px; margin: 10px 0; }
#RecruitName { font-size: 30px; margin: 0; }
#RecruitStats { flex-direction: column; align-items: flex-start; }
#RecruitContainer { min-width: 250px; height: 190px; display: flex; align-items: center; max-width: 300px; margin: auto; }
#RecruitContainer img { transform: scale(0.5); }
#LikeDislike, #RecruitLinks { gap: 5px; font-size: 30px; width: 100%; margin: 5px 0; }
#RecruitLinks div { justify-content: center; }
#RecruitElement { transform: initial; margin-left: auto;}
.RecruitGap { gap: 0; }

.cablenav a { line-height: 1.1;}
.infobox { width: initial; margin: 0; float: none;}
.dialoguebox p { font-size: 24px; letter-spacing: 0px; line-height: 30px;}
.CharActNav button { font-size: 25px; padding: 0 5px; margin: 4px; width: 85px;}
.speechbubbletext { display: none; } /* It's too hard to position these on mobile screens :[ */
.healthbar tr { display: inherit; }
.buttongroup > button { width: 150px; padding: 0 0 5px; }
.overlay { top: 0; }

.lb-dataContainer { width: 100% !important; }

.curtains { max-width: 128px; }

.ausection { flex-direction: column-reverse; }

/* == Notices == */
.explicit h2 { font-size: 20px; padding: 10px; }
.explicit p {font-size: 17px; padding: 5px 10px 10px; }

/* == Character Profiles == */
#mikeinfo { right: 0%; top: 400px; left: 0%;}
#hostinfo { left: 0%; right: 0%;}

/* == Health bars ==*/
#charname p { margin: 0 0 0 -10px; font-size: 20px;}
#charstatus { font-size: 14px; padding: 0 10px;}
.healthbar td { max-width: 150px;}
#HPbar, #Mercybar {height: 25px; font-size: 20px; padding: 5px; max-width: 90px;}

  .LightboxGallery img { width: 110px; }
  .sidebar-content { padding: 10px 0; margin: 0; }  
  .buttongroup button { margin: 0; }
  .menutitle { font-size: 20px; }
  h3 { font-size: 25px; }
  .backstory { padding: 15px; }
  .CharActNav button { font-size: 28px; padding: 0 8px 2px; min-width: 90px; margin: 6px 3px; width: auto; }   

}

/* === CANDIDATES FOR DELETION === */
.dialoguebox td { padding: 0; }
.imgframe { border-radius: 5px; }
h3 > span { font-family: 'DTM-sans'; }
.relationships td { vertical-align: middle; }
.relationships h3 { text-align: left; font-family: 'DTM-sans'; font-size: 25px; margin: auto; }
.relationships h3 > span { font-family: 'PixelOperator'; }
.relationships img { image-rendering: pixelated; }