
@import url(https://gojira-cale.github.io/Shop/assets/font);
@font-face {
  font-family: "DTM Sans";
  src: url("../fonts/DTMSans.woff2") format("woff2"),
       url("../fonts/DTMSans.woff") format("woff"
@font-face { font-family: 'PixelOperatorMono'; src: url("/Shop/assets/font/PixelOperatorMono-Bold.ttf") format("truetype"); }
@font-face { font-family: 'Deltarune'; src: url("/Shop/assets/font/deltarune.ttf") format("truetype"); }

/* ===== Main Theme ===== */
:root {
  --bg-color: #090033;
  --bg-color-opacity1: #090033FC; /* From navbar & Autoplay */
  --bg-color-opacity2: #090033CF;
  --innerbox-color1: #FFFFFFCC; /* Main Boxes */
  --innerbox-color2: #FFFFFFBF;
  --accentbox-color: #d7e5f596;
  --accentbox-border: #4e34e338;
  --dark-gradient: linear-gradient(180deg, var(--bg-color-opacity1) 40%, var(--bg-color-opacity2));

  /* Text*/
  --title-color: #27248F;
  --text-color: #5040AE;
  --light-text: #FFFFFF;
  --link-color: #746AE6;
  --link-hover: #FF00FF;
  --link-visited: #AF65D3;
  --text-shadow: #5040AE60; /* Text color with opacity */
  --primary-font: 'PixelOperator', monospace;
  --secondary-font: 'DTMsans', monospace;  
  --deltarune-font: 'Deltarune', monospace;
  --text-effect: 1px 1px var(--shadow-color1), -1px -1px var(--shadow-color2);
  --border-effect: 1px 1px var(--border-color1), -1px -1px var(--border-color2);
  --border-hover: 2px 0px var(--border-color1), -2px -0px var(--border-color2);
  --coolbutton-border: 3px -3px var(--border-color1), -3px 3px var(--border-color2);
  --coolbutton-hover: 4px 0px var(--border-color1), -4px 0px var(--border-color2);

  /* Boxes */
  --shadow-color1: #FF00FF99; 
  --shadow-color2: #00FFFF99;
  --border-color1: #FF00FF;
  --border-color2: #00FFFF;

  /* Misc */
  --selection-bg: #82FFFFFF;
  --selection-text: #B969FF;
  --btn-hover: #372d67; 
  --box-gradient1: linear-gradient(180deg, #FF00FF26, #00FFFF26); /* 25% Opacity */
  --box-gradient2: linear-gradient(#FF00FF40 0%, #00FFFF40 100%); /* 15% Opacity */
  --coolbox-gradient: linear-gradient(transparent 50%, #FF00FF40 0%, #00FFFF40 100%);
  --h4-gradient: -webkit-linear-gradient(#C400FF, #2500FF);
  --decorhue: hue-rotate(0deg);

  /* Images */
  --idle-sprite: url("assets/shop/me/idle.gif");
  --confused-sprite-1: url("assets/shop/me/confused.gif");
  --laughing-sprite-1: url("assets/shop/me/laughing.gif");
  --talk-sprite-1: url("assets/shop/me/talk.gif"); 
  
}

/* THEMES */

.default {
  --bg-color: #090033; /* Dark Purple from menus, back buttons, etc. */
  --bg-color-opacity1: #090033FC; /* From navbar & Autoplay */
  --bg-color-opacity2: #090033CF;
  --innerbox-color1: #FFFFFFCC; /* Main Boxes */
  --innerbox-color2: #FFFFFFBF;
  --accentbox-color: #E0D7F596;
  --accentbox-border: #4e34e338;
  --dark-gradient: linear-gradient(180deg, var(--bg-color-opacity1) 40%, var(--bg-color-opacity2));

  /* Text*/
  --title-color: #27248F;
  --text-color: #5040AE;
  --light-text: #FFFFFF;
  --link-color: #746AE6;
  --link-hover: #FF00FF;
  --link-visited: #AF65D3;
  --text-shadow: #5040AE60; /* Text color with opacity */
  --primary-font: 'PixelOperator', monospace;
  --secondary-font: 'DTMsans', monospace;  
  --deltarune-font: 'Deltarune', monospace;
  --text-effect: 1px 1px var(--shadow-color1), -1px -1px var(--shadow-color2);
  --border-effect: 1px 1px var(--border-color1), -1px -1px var(--border-color2);
  --border-hover: 2px 0px var(--border-color1), -2px -0px var(--border-color2);
  --coolbutton-border: 3px -3px var(--border-color1), -3px 3px var(--border-color2);
  --coolbutton-hover: 4px 0px var(--border-color1), -4px 0px var(--border-color2);

  /* Boxes */
  --shadow-color1: #FF00FF99; /* This webbed site can fit so many box shadows*/
  --shadow-color2: #00FFFF99;
  --border-color1: #FF00FF;
  --border-color2: #00FFFF;

  /* Misc */
  
  --selection-bg: #82FFFFFF;
  --selection-text: #B969FF;
  --btn-hover: #372d67; /* Buttons use bg-color */
  --box-gradient1: linear-gradient(180deg, #FF00FF26, #00FFFF26); /* 25% Opacity */
  --box-gradient2: linear-gradient(#FF00FF40 0%, #00FFFF40 100%); /* 15% Opacity */
  --coolbox-gradient: linear-gradient(transparent 50%, #FF00FF40 0%, #00FFFF40 100%);
  --h4-gradient: -webkit-linear-gradient(#C400FF, #2500FF);
  --decorhue: hue-rotate(0deg);

}


/* ===== SHAKING LETTERS.THAT TOOK ME FOREVER TO MAKE ===== */
.shakeletter1 { display: inline-block; -webkit-animation: shakeletter1 300ms linear 0ms infinite normal forwards; animation: shakeletter1 300ms linear 0ms infinite normal forwards; }
.shakeletter2 { display: inline-block; animation: shakeletter1 299ms linear 0ms infinite reverse backwards; }
.shakeletter3 { display: inline-block; -webkit-animation: shakeletter1 301ms linear 0ms infinite alternate both; animation: shakeletter1 301ms linear 0ms infinite alternate both; }
@-webkit-keyframes shakeletter1 {
  0%   { -webkit-transform: translate(0); transform: translate(0);	}
  20%  { -webkit-transform: translate(-1px, 1px); transform: translate(-1px, 1px); }
  40%  { -webkit-transform: translate(-1px, -1px); transform: translate(-1px, -1px); }
  60%  { -webkit-transform: translate(1px, 1px); transform: translate(1px, 1px); }
  80%  { -webkit-transform: translate(1px, -1px); transform: translate(1px, -1px); }
  100% { -webkit-transform: translate(0); transform: translate(0); }
}
@keyframes shakeletter1 {
  0%   { -webkit-transform: translate(0); transform: translate(0);	}
  20%  { -webkit-transform: translate(-1px, 1px); transform: translate(-1px, 1px); }
  40%  { -webkit-transform: translate(-1px, -1px); transform: translate(-1px, -1px); }
  60%  { -webkit-transform: translate(1px, 1px); transform: translate(1px, 1px); }
  80%  { -webkit-transform: translate(1px, -1px); transform: translate(1px, -1px); }
  100% { -webkit-transform: translate(0); transform: translate(0); }
}

/* === PAGE LOADER === */
#loader { position: absolute; left: 50%; top: 50%; z-index: 3; width: 50px; height: 50px; border-radius: 50%; background: conic-gradient(#0000 30%, var(--border-color1) 45%, var(--border-color2) 100%); mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0); -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0); -webkit-animation: loaderspin 1s infinite linear; animation: loaderspin 1s infinite linear; }
@-webkit-keyframes loaderspin { to{-webkit-transform: rotate(1turn);transform: rotate(1turn)} }
@keyframes loaderspin { to{-webkit-transform: rotate(1turn);transform: rotate(1turn)} }
.animate-bottom { position: relative; -webkit-animation-name: animatebottom; -webkit-animation-duration: 1s; animation-name: animatebottom; animation-duration: 1s }
@-webkit-keyframes animatebottom { from { bottom:-100px; opacity:0 } to { bottom:0px; opacity:1 } }
@keyframes animatebottom { from{ bottom:-100px; opacity:0 } to{ bottom:0; opacity:1 } } 

/* ===== Body and other main structure junk ===== */
body { 
  background: var(--bg-img) no-repeat fixed, -webkit-gradient(linear,left top, left bottom,from(rgba(51, 9, 227, 1)), color-stop(24%, rgba(82, 83, 225, 1)), color-stop(50%, rgba(232, 95, 254, 1)), color-stop(77%, rgba(29, 11, 63, 1)), to(rgba(16, 1, 50, 1))) no-repeat fixed; 
  background: var(--bg-img) no-repeat fixed, -o-linear-gradient(top,rgba(51, 9, 227, 1) 0%, rgba(82, 83, 225, 1) 24%, rgba(232, 95, 254, 1) 50%, rgba(29, 11, 63, 1) 77%, rgba(16, 1, 50, 1) 100%) no-repeat fixed; 
  background: var(--bg-img) no-repeat fixed, linear-gradient(180deg,rgba(51, 9, 227, 1) 0%, rgba(82, 83, 225, 1) 24%, rgba(232, 95, 254, 1) 50%, rgba(29, 11, 63, 1) 77%, rgba(16, 1, 50, 1) 100%) no-repeat fixed;
  background-size: cover; font-family: var(--primary-font); color: var(--text-color); margin: 0; cursor: var(--cursor-main); font-weight: 100; }
*    { -webkit-box-sizing: border-box; box-sizing: border-box; } /* Still don't know what this does. Still keeping it because things will break otherwise */

*::-webkit-scrollbar { width: 7px; }
*::-webkit-scrollbar-track { background: var(--bg-color); border: 1px solid var(--bg-color); border-radius: 7px; }
*::-webkit-scrollbar-thumb { border: 1px solid var(--bg-color); background: -webkit-gradient(linear, left top, left bottom, from(var(--border-color1)), to(var(--border-color2))); background: linear-gradient(180deg, var(--border-color1), var(--border-color2)); border-radius: 7px; }
::-moz-selection { color: var(--selection-text); background: var(--selection-bg); } 
::selection      { color: var(--selection-text); background: var(--selection-bg); }

/* === TEXT THINGS === */
p    { font-size: 18px; margin: 12px 0px; line-height: 16.5px}
a, b { font-family: var(--secondary-font); font-weight: 100; letter-spacing: 0.5px; font-size: 15.5px; }
a         { color: var(--link-color); text-decoration: none; cursor: var(--cursor-pointer); -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
a:visited { color: var(--link-visited); }
a:hover   { color: var(--link-hover); }
b { text-shadow: var(--text-effect); }
h1, h2, h3, h4 { text-shadow: var(--text-effect); color: var(--title-color); font-weight: 100; }
h1 { font-family: var(--secondary-font); margin: 10px 0; font-size: 2.5em; letter-spacing: 1px;  }
h2 { font-family: var(--deltarune-font); font-size: 27px;  }  
h3 { font-family: var(--secondary-font); font-size: 23px; margin: 10px 0; }
h4 { font-family: var(--secondary-font); font-size: 17px; margin: 8px 0px; }

/* === Misc Basic tags === */
hr { background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--shadow-color2)), color-stop(var(--shadow-color1)), color-stop(var(--shadow-color2)), to(transparent)); background-image: -o-linear-gradient(left, transparent, var(--shadow-color2), var(--shadow-color1), var(--shadow-color2), transparent); background-image: linear-gradient(90deg, transparent, var(--shadow-color2), var(--shadow-color1), var(--shadow-color2), transparent); border: none; height: 2px; }
td { vertical-align: top; padding: 3px; }
.fiftywidthtd { width: 50%; }

textarea { text-shadow: 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white; border: var(--link-color) dashed 1px; font-family: var(--primary-font); background: var(--box-gradient1); color: var(--title-color); border-radius: 5px; padding: 2px 5px; font-size: 16px; width: 190px; height: 50px; }

/* === Buttons === */
button { -webkit-box-shadow: var(--border-effect); box-shadow: var(--border-effect); text-shadow: 1px 1px var(--text-color); font-family: var(--secondary-font); border: none; cursor: var(--cursor-pointer); background: var(--bg-color); color: var(--light-text); padding: 5px 10px 3px; border-radius: 10px; font-size: 16px; -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
button:hover { -webkit-box-shadow: var(--border-hover); box-shadow: var(--border-hover); background: var(--btn-hover); letter-spacing: 0.5px; }
.backbtn { text-shadow: 0px 1px var(--border-color1), 0px -1px var(--border-color2); -webkit-box-shadow: 2px -2px var(--border-color1), -2px 2px var(--border-color2); box-shadow: 2px -2px var(--border-color1), -2px 2px var(--border-color2); font-family: var(--deltarune-font); background: var(--bg-color); color: var(--light-text) !important; padding: 7px 10px 3px 0; border-radius: 15px; font-size: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 30px; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; margin: 0 0 10px; }
.backbtn:hover { letter-spacing: 1.5px; -webkit-box-shadow: 2px 0px var(--border-color1), -2px 0px var(--border-color2); box-shadow: 2px 0px var(--border-color1), -2px 0px var(--border-color2); }
.backbtn img   { content: var(--arrowL-img); -webkit-filter: var(--decorhue) drop-shadow(0px -2px 0px var(--border-color1)) drop-shadow(0px 2px 0px var(--border-color2)); filter: var(--decorhue) drop-shadow(0px -2px 0px var(--border-color1)) drop-shadow(0px 2px 0px var(--border-color2)); margin-right: 5px; }
.coolbutton   { background: var(--bg-color); -webkit-box-shadow: var(--coolbutton-border); box-shadow: var(--coolbutton-border); width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding: 2px 15px; margin: auto; border-radius: 15px; -webkit-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; text-shadow: var(--text-effect); }
.coolbutton a { letter-spacing: 0px; color: var(--light-text); font-family: var(--deltarune-font); font-size: 24px; }
.coolbutton:hover   { -webkit-box-shadow: var(--coolbutton-hover); box-shadow: var(--coolbutton-hover); text-shadow: 2px 1px var(--shadow-color1), -2px -1px var(--shadow-color2); }
.coolbutton:hover a { letter-spacing: 1px; }      

/* ===== LISTS ===== */
li { padding-left: 5px; }
ul li::marker { content: "*"; font-family: var(--secondary-font); }
ol li { counter-increment: item; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 5px; }
ol li:before {
  content: counter(item);
  border-radius: 100%;    
  min-width: 1rem;
  padding: 0 0.125rem;
  -webkit-box-shadow: 1px 1px var(--border-color1), -1px -1px var(--border-color2);
          box-shadow: 1px 1px var(--border-color1), -1px -1px var(--border-color2);
  background-color: var(--bg-color);
  color: var(--light-text);
  margin: 0 10px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  height: 20px;
}

@media only screen and (max-width: 1115px) {
/* /Home */
#center-sidebar { width: 100%; }
#left-sidebar   { width: 80%; }
#right-sidebar  { width: 80%; }
.sidebar-group  { gap: 10px; }

/* LAYOUT JUNK */ 
.coolheader { font-size: 25px; height: 35px; }
.sidebar-content { padding: 5px; }
.innerbox { padding: 10px; }
.solo-sidebar    { width: 80%; min-width: 665px; }
.solobar-content { width: 100%; padding: 0px; margin: 0px; }
.soloinnerbox    { padding: 20px 15px; }
.sitemap   { -webkit-columns: 2; -moz-columns: 2; columns: 2; }
.updatelog { width: 100%; }

/* /index */
#jaybody { right: 10%; top: 170px; height: 65%; width: 100%; -o-object-fit: contain; object-fit: contain; }
#jaytail { right: 10%; top: 160px; height: 65%; width: 100%; -o-object-fit: contain; object-fit: contain; }
.warningbox { margin: auto 20%; }
#streetsign { right: 460px; top: -20px; }
  
/* Misc */
.fic-preview { width: 100%; max-width: none; }
.bigpixel { width: 100% }
.imgdecor { display: none; }
.namebox p:first-child { font-size: 35px; }
.namebox p { font-size: 18px; }

.artocbio .glbox-container { max-width: initial; max-height: initial; overflow: initial; } 
.artocbio div { max-width: initial; }                    
.giftnfic > div { max-width: initial; }
}
/* 1000PX RESPONSIVE ENDS HERE, STOP PUTTING THINGS UNDER THE WRONG BRACKET */

@media (min-width: 992px) {
    .glbox:hover img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, -webkit-transform 0.35s; -o-transition: opacity 0.35s, transform 0.35s; transition: opacity 0.35s, transform 0.35s; transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s; }
    .glbox:hover a::before { opacity: 0.2; -webkit-transition: opacity 0.4s; -o-transition: opacity 0.4s; transition: opacity 0.4s; }
}

@media only screen and (max-width: 850px) { 
.sidebar-group { display: block; }  
#left-sidebar  { max-width: none; width: 100%; }
#right-sidebar { max-width: none; width: 100%; }   

/* Character Profiles */
.CharacterRelationships > div { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.CharacterRelationships > div > div { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
}

@media only screen and (max-width: 700px) {
/* /Home */
#left-sidebar   { width: 100%; }
#center-sidebar { width: 100%; }
#right-sidebar  { width: 100%; }
.sidebar-group  { display: block; }

/* /guestbook */
.scrolldiv { max-height: none; }

#HCB_comment_box .hcb-comment-body { max-height: 400px; }

/* /about */
.aboutbox { margin: 5px auto; }
.abouttabs button { padding: 10px 15px 0 15px; font-size: 20px; }
.sona { width: 100%; margin: auto; }
.sona img { width: 100%; }  
.aboutdiv { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }
.likesbox { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: auto; }
.livesdiv ul { max-height: auto; }

/* LAYOUT JUNK */
.innerbox { padding: 20px; }
.sidebar-content { padding: 15px 10px 15px 10px; }
.solo-sidebar { width: 100%; min-width: auto; padding: 0 5px; }

/* TABLES */ 
tr { display: -ms-grid; display: grid; }
td { width: 100%; margin: 0 auto; }
.fiftywidthtd { width: 100%; }
.eightywidthtd { width: 100%; }

/* Character Profiles */
.CharacterInfo { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.CharacterInfo > div { width: 100%; }

/* GALLERY STUFF */
.cardecordiv { display: block; }
.cardecordiv p { margin: 12px 0px; }
.cardecordiv div:first-child { height: 80px; width: 100%; -o-object-fit: cover; object-fit: cover; }
.cardecordiv div:last-child  { height: 80px; width: 100%; -o-object-fit: cover; object-fit: cover; }
.gallery-desc { padding: 8px 2px; }
.gallery-desc span { letter-spacing: 0px; font-family: 'PixelOperator'; }
.gallery-thumb img { height: 150px; max-width: 150px; }
.LightboxGallery img { width: 100px; -o-object-fit: cover; object-fit: cover; }

/* SLIDESHOW */
.slideshow { height: auto; }
.slideshow:hover .galleryNav { bottom: 0; }
.prev, .next { opacity: 1; }
.captiondiv { bottom: 0; }
  
/* Misc. */
.shake { width: 100%; padding: 0px 5px; }
.sitemap { -webkit-columns: 1; -moz-columns: 1; columns: 1; }
.blogentries .innerbox { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

/* SPLASH PAGE */
#jaybody { left: 0%; height: 250px; top: 50%; }  
#jaytail { left: 0%; height: 250px; top: 50%; }
.warningbox { margin: auto; top: 130px; }
#streetsign { left: 35px; top: -50px; }
#autoplaynote { max-width: initial; }
#autoplaynote p { font-size: 16px; line-height: 12px; margin: 8px 0; }

/* JAY SAY */
.jaysay { margin-left: auto; }
.jaysay img { margin-left: -30px; }
.bubblediv { margin-left: 180px; }

}
/* 700PX RESPONSIVE ENDS HERE, STOP PUTTING THINGS UNDER THE WRONG BRACKET */

/* ==== Candidates for deletion aka Old code that's getting phased out but I need to clean up the rest of the pages that still use it  ==== */
.blogtitle { margin-left: auto; text-align: left; line-height: 23px; } 
.eightywidthtd { width: 80%; }
.moodboard { display: -webkit-box; display: -ms-flexbox; display: flex; } /* Delete this once all the old versions of the moodboards have been updated */

/* === CANDIDATES FOR DELETION END HERE === */
